{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard - Despesas{% endblock %}

{% block content %}

    <style>
        .card-header {
            font-size: 20px;
            background-color: #17a2b8; /* Bootstrap info color */
            color: white;
        }

        .card-text {
            font-size: 24px; /* Tamanho grande para destaque */
            font-weight: bold;
        }

        .card-body-total {
            transition: background-color 0.3s ease;
        }


    </style>

    <section class="filter-section p-3 mb-4 border rounded">
        <div class="row g-3">
            <div class="col-md-3">
                <label for="start_date">Data Inicial:</label>
                <input type="date" id="start_date" name="start_date" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="end_date">Data Final:</label>
                <input type="date" id="end_date" name="end_date" class="form-control">
            </div>
            <div class="col-md-3">
                <label></label>
                <button class="btn btn-outline-secondary w-100" id="resetButton"><i class="fas fa-eraser"></i> Limpar
                    Filtros
                </button>
            </div>
            <div class="row g-3">
                <div class="col-md-2">
                    <label for="yearFilter">Ano:</label>
                    <select id="yearFilter" name="yearFilter" class="form-select">
                        <option value="">Todos os Anos</option>
                        {% for year in years %}
                            <option value="{{ year }}"
                                    {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="monthFilter">Mês:</label>
                    <select id="monthFilter" name="monthFilter" class="form-select">
                        <option value="">Todos os meses</option>
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereiro</option>
                        <option value="3">Março</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="accountFilter">Conta:</label>
                    <select id="accountFilter" name="accountFilter" class="form-select">
                        <option value="">Selecione uma conta</option>
                        <!-- Opções preenchidas via JS -->
                    </select>
                </div>

            </div>
            <div class="row g-3 mt-3">
                <div class="col-md-4">
                    <label for="categoryFilter">Categoria:</label>
                    <select id="categoryFilter" name="categoryFilter" class="form-select">
                        <option value="">Selecione uma categoria</option>
                        <!-- Opções preenchidas via JS -->
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="subcategoryFilter">Subcategoria:</label>
                    <select id="subcategoryFilter" name="subcategoryFilter" class="form-select">
                        <option value="">Selecione uma subcategoria</option>
                        <!-- Opções preenchidas via JS -->
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="formaPagamentoFilter">Forma de Pagamento:</label>
                    <select id="formaPagamentoFilter" name="formaPagamentoFilter" class="form-select">
                        <option value="">Selecione uma forma de pagamento</option>
                        <!-- Opções preenchidas via JS -->
                    </select>
                </div>
            </div>
    </section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">
                        <i class="fas fa-wallet"></i> Total das Despesas
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="font-size: 1.5em; font-weight: bold;"
                           id="totalDisplay">{{ total_despesas }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gráficos -->
    <div class="row ">
        <div class="col-lg-8 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Distribuição por Data</h5>
                    <canvas id="despesasChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Distribuição por Conta</h5>
                    <canvas id="despesasPieChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Distribuição por Categoria</h5>
                    <canvas id="categoriaChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Distribuição por Subcategoria</h5>
                    <canvas id="subcategoriaChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Distribuição por Forma de Pagamento</h5>
                    <canvas id="formaPagamentoChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock %}
