{% block content %}

    <style>
        footer {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            background-color: #f5f5f5;
            padding: 1rem 0;
            text-align: center;
        }

        .footer p {
            margin-bottom: 1px;
            font-size: 0.9em;
        }
    </style>

    <footer class="footer bg-light mt-auto py-1 border-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 text-md-left mb-2">
                    <span class="text-muted">© 2024 DB Sistemas Full Stack</span>
                </div>
                <div class="col-md-4 text-md-right mb-2">
                    <span><strong>Site:</strong> <a class="text-muted" href="https://dbsistemas.com.br/">dbsistemas.com.br</a></span>
                </div>
                <div class="col-md-4 text-md-center mb-2">
                    <span><strong>Contato:</strong> <a class="text-muted" href="mailto:contato@dbsistemas.com.br">contato@dbsistemas.com.br</a></span>
                </div>

            </div>
        </div>
    </footer>

{% endblock %}
