{% extends 'base.html' %}
{% block title %}{% if object %}Editar Conta {% else %}Criar Conta{% endif %}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>{% if object %}Editar Conta: {{ conta.nome }} {% else %}Nova Conta{% endif %}</h2>
        {% if messages %}
            <div class="mt-2">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Salvar</button>
            {% if not object %}
            <button type="submit" name="save_and_add_another" class="btn btn-primary"><i class="fas fa-plus"></i> Salvar
                e adicionar outra
            </button>
            {% endif %}
            <a href="{% url 'conta-list' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Cancelar</a>
        </form>
    </div>

    <script>
        // JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
