{% extends 'base.html' %}
{% block title %}Gerenciar Categorias{% endblock %}

{% block content %}
    <div class="container mt-1">
        <h1>Gerenciar Subcategorias</h1>
        <div class="mb-3">
            <form method="get" action="{% url 'subcategoria-list' %}"
                  class="d-flex justify-content-between align-items-center">
                <div class="input-group w-75">
                    <input type="text" class="form-control" placeholder="Pesquisar categorias..." name="search"
                           value="{{ request.GET.search }}">
                    <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
                    <a href="{% url 'subcategoria-list' %}" class="btn btn-outline-danger"><i class="fas fa-times"></i></a>
                </div>
                <a href="{% url 'subcategoria-create' %}?next={{ request.get_full_path }}" class="btn btn-success"><i
                        class="fas fa-plus"></i> Nova
                    Subcategoria</a>
                </a>
            </form>
        </div>
        {% if messages %}
            <div class="mt-2">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="message-container" class="alert alert-success" style="display: none;"></div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Subcategorias</th>
                <th scope="col">Categoria</th>
                <th class='text-center' scope="col">Ações</th>
            </tr>
            </thead>

            {% for subcategoria in object_list %}
                <tr>
                    <td>{{ subcategoria.nome }}</td>
                    <td>{{ subcategoria.categoria.nome }}</td>

                    <td class='text-center'>
                        {% if not subcategoria.padrao %}
                            <a href="{% url 'subcategoria-update' subcategoria.pk %}" class="btn btn-primary btn-sm"
                               aria-label="Editar {{ subcategoria.nome }}"><i class="fas fa-edit"></i></a>

                            <a href="{% url 'subcategoria-delete' subcategoria.id %}" class="btn btn-danger btn-sm"
                               aria-label="Deletar"><i class="fas fa-trash-alt"></i></a>
                        {% else %}
                            <span class="text-muted"
                                  title="Esta subcategoria é padrão e não pode ser editada ou excluída."><i
                                    class="fas fa-lock"></i> Padrão</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Paginação -->
    <div class="d-flex justify-content-between align-items-center">
        <a href="{% if request.GET.from == 'categoria_list' %}{% url 'categoria-list' %}{% else %}{% url 'configuracao' %}{% endif %}"
           class="btn btn-secondary mb-3"><i class="fas fa-arrow-left"></i> Voltar</a>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link">Página {{ page_obj.number }}
                    de {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última
                        &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>



{% endblock %}
